@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu:ital,wght@0,500;0,700;1,400;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:ubuntu ;
}

 li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #FDFDFD;
    font-size: 20px;
}
div img {
    display: block;
    width: 100%;
  
}

/* header */
header{

    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color:  #419488;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    height: 117px;
    flex-wrap: wrap;
} 
 header div { 
    margin-left: 50px;
    padding: 15px;
}
header nav{
    margin-right:50px ;
}
header ul {
    display: flex;
}
header ul li {
    padding: 10px;
} 



/* footer */

footer{
   

    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color:  #419488;

    flex-wrap: wrap;
    height:207px;
}
.link-footer2  {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 5px;
    margin: 5px;
}

.link-footer3{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    text-align: center;
    border: 1px solid #FDFDFD;
    border-radius: 62px;
    padding: 10px;
    margin: 15px;

} 
/* aqui começa a estilização de index.html */

 .inicio{

    height: 2500px;
   
    margin-top: 100px;
}
.container-educaco-finaceira{
   display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.container-educaco-finaceira-items{

    display: flex;
    flex-direction: column;
    justify-content: space-around;  
}
 .container-educaco-finaceira div h1{
    Width : 462px;
    Height: 62px;
    font-weight: bold;
    font-size: 60px;
    color: #FF4081; 
}
.container-educaco-finaceira div p{
    font-size: 27px;
    line-height: 31px;
    color:#555555;
    margin-top: 20%;
}
.container-educaco-finaceira div a{
    border: solid 1px #FF4081;
    border-radius: 62px;
    padding: 15px;
    color: #FF4081;
    font-size: 27px;
    max-width: 60%;
}

.sujestoes{
    display: flex;
    justify-content: space-around;
    background: #F7F7F7;
    height: 730px;
      
   
}
.sujestoes div{
    display: flex;
    flex-direction: column; 
    justify-content: center;
   
    align-items: center;
    height: 730px;
    text-align: center; 
}
.sugestoes-imagens{
    text-align: justify;
    color: #000000;
    width: 400px;
}

.sugestoes-item{
    Width:238px;
    Height:270px;
}
.sugestoes-imagens h2 {
    color: #FF4081;

}
.sugestoes-discricao{
    font-size: 17px;
    margin:40px;
    padding: 30px;
} 
.link-comecarAgora{
    font-size: 20px;
    line-height: 23px;
    width: 233px;
    padding: 10px;
    background: #FF4081;
    border-radius: 62px;
}   
.subtitulos {
  margin-left: 12%;
  font-size: 37px;
  line-height: 50px; 
  color: #009688;
}

.container-sobreNos{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   align-items: center;
    
}



.sobreNos-item {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    margin: 20px;
    display: flex;
  
}
.sobreNos-item p{
    width:450px;
    height: 70.27px;
    font-size: 18px;

}
.sobreNos-item div img {
    margin-right: 30px;


}



.conteudos-extras{
    max-width: 80%;
    margin: 0 auto; 
   
    display: flex;
    justify-content:space-around ;
  
    
  
 
    
  
}

 .link-post{
    font-weight: bold;
    display: flex;
    text-align: center;

     

}
.sugestoes-post{
    width: 319px;
    height: 193px;
    background: #C4C4C4;
   
    
  
    margin-top: 40px;
    
}
.descicaoDeCoteudo{
    margin-top: 30px;
    width: 319px;
    height: 114px;
    font-size: 18px;
    line-height: 31px;

 
}
.descicaoDeCoteudo h4{
    color:#009688

}




.link-post{
    margin-top: 50px;
    justify-content: center;
    align-items: center;
   
    
    
}

.link-post a{
   
    font-size: 25px;
    color: #FF4081; 
    border: 2px solid #FF4081;
    font-size: 25px;
    border-radius: 62px;
    padding: 10px;
}

/* aqui começa a estilização de cursos.html */
.dindinCurso{
    max-width: 50%;
    margin: 0 auto;
    margin-top: 81px;
}
.dindinCursoDiscricao h1{
    font-size: 60px;
    line-height: 69px;
    font-weight: bold;
    color: #FF4081;
    padding-bottom: 20px;

}
 .dindinCursoDiscricao p{
    font-size:20px;
}

.containerCursos{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid  #C4C4C4;   
}
.containerCursos h2{
    color: #FF4081;
}
.containerCursos:first-child {
    border:none;
  }
.containerCursos div img {

    padding: 30px;
   margin-right: 80px;
}
.containerCursos p{
    Width :724px;
    Height :105px;
    margin-top: 10px;
    padding-top: 20px;
    font-weight: 300;
    font-size: 18px;
}
.containerCursos div{
    margin-top: 10%;
    margin-bottom: 100px;
}
.containerCursos a{
    font-size: 20px; 
    padding: 10px;
    background: #2E948A;
    border-radius: 62px;
}





/*  aqui comça a estilização aulas.html */
.containerIframe{
    margin-top:5%; ;

 
}
.aulaSobreIvestimentos{
    
    display: flex;
    justify-content:space-around;
    max-width: 80%;
    margin: 0 auto;

}

.aulaSobreIvestimentos-decricao h1{
    color: #FF4081;
    font-weight: bold;
     font-size: 55px;
     width: 512px;
    height: 126px;
   
}
.aulaSobreIvestimentos-decricao p{  
    width: 501px;
    
    font-size: 20px;
    font-size: 20px;
}


.containerIframe2{
    background: #F7F7F7;
    
 

}

.containerIframeItems div iframe{
   
    width: 462px;
    height: 261px;
    
}
.containerIframeItems{
    max-width: 80%; 
margin: 0 auto;
    display: flex;
   justify-content: center;
   flex:auto;
    border-top: none;

   padding: 80px;
   border-top: 3px solid  #C4C4C4;;
  
   
   


}

.containerIframeItems:first-child{
    margin-top: 70px;
    border-top: none;
   
    
}
  
.containerIframeItems:last-child{ 
  
    margin-bottom: 150px;
}
  
   

  
   
   

    


.containerIframeItems div{
    margin-left: 5%;
  
   }
.containerIframeItems h2 {
    
    font-weight: bold;
    font-size: 35px;
    color: #FF4081;
    margin-right: 60px;
}
.containerIframeItems div p{
    margin-top: 30px;
  
}



    
    






/* aqui começa estilizção do blog.html */







.blog{
    margin-top: 122px;
    max-width:75%;
    margin: 0 auto;
  

}
.containerBlog{
    display: flex;
   
     
   
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 122px;
    margin-bottom:120px;
     
 }

  .containerBlogItems h1{
     Width : 462px;
     Height: 62px;
     font-weight: bold;
     font-size: 47px;
     color: #009688;
  }
 .containerBlogItems p{
    font-size: 20px;
     color:#555555;
     margin-top: 20%;
     width: 461px;
    height: 110px;
 }
 .contudoBlog{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    flex-wrap: wrap;
 }
 .imageBlog{
    width: 518px;
    height: 259px;
   
    background: #C4C4C4; 
 }

 .imageBlogItens h2{
    color: #FF4081;
  font-weight: 500;
  font-size: 30px;
  margin-top: 30px;
}
.imageBlogItens p {
    width: 516px;
    height: 80px;
    font-size: 17px;
    margin-bottom: 20%;
    margin-top: 30px;  
}













 

 



















/*  aqui começa a estilização de contato.html*/
.container-contatos{

    max-width:80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.container-contatos div h2 {
    margin-top: 200px;
    font-size: 40px;
    color: #FF4081;
}
form div{
    display: flex;
    flex-direction: column;
    
}
input{ 
    text-indent:3%;
    margin-top: 20px;
    left: 0.6%;
    right: 0%;
    top: 21.48%;
    border: 1px solid #686868;
    border-radius: 7px;
    Width:493px;
    Height:32px;
    font-size: 16px;
    


}
textarea{
    text-indent:3%;
    margin-top:20px;
    border: 1px solid #686868;
    border-radius: 7px;
    Width:493px;
    Height:193px; 
    display: block;
    width: 100%;
    font-size: 16px; 
    outline: none;
    resize: none;
}
.enviar-contato{
    margin-top: 20px;
    font-family: nunito;
    text-transform: lowercase;
    color: #FFFFFF;
    font-weight: bold;
   font-family: Nunito;
   font-weight: 800;
   font-size: 20px;
   background-color: #FF4081;
   border: solid 10px #FF4081 ;
   border-radius: 50px ;
   width: 20%;
   margin-bottom: 202px;

}
.imagem-contato{

    margin-top: 200px;
    margin-bottom: 200px;
    width: 444px;
    height: 444px;
background: url(./image/ilustra-contato.png);
    
}





