.item-formulario {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5vw 0px;
}



.item-formulario div h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    /* identical to box height */
    color: #FF4081;
    margin: 43px 0;
}


input {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(104, 104, 104);
    box-sizing: border-box;
    border-radius: 7px;
    width: 493px;
    height: 39px;
    display: block;
    padding: 10px;
    margin: 26px 0px;
}

textarea {
    border: 1px solid #686868;
    box-sizing: border-box;
    border-radius: 7px;
    width: 493px;
    height: 193px;
    display: block;
    padding: 10px;
    resize: none;
    color: #58555D;
}

button{
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: lowercase;
    background: #FF4081;
    border-radius: 50px;
    color: #FFFFFF;
    width: 108px;
    height: 32px;
    margin: 30px 0;
    border: 2px;
}
@media (max-width:  790px) {
  .item-formulario div img{
      display: none;

  }
  
textarea {
    width: 400px;

}
input {
    width: 400px;

}
.item-formulario{
    align-items: center;
}
}

